<nav class="navbar fixed-bottom navbar-light bg-white d-block d-lg-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="/post"><i class="fas fa-house-user"></i></a>
    <a class="navbar-brand" href="/class"><i class="fas fa-users"></i></a>
    <a class="navbar-brand" href="#"><i class="fas fa-desktop"></i></a>
    <a class="navbar-brand" href="#"><i class="fas fa-list-alt"></i></a>
    <a class="navbar-brand" href="#"><i class="fas fa-briefcase"></i></a>
    <a class="navbar-brand" href="#"><i class="fas fa-comment-alt"></i></a>
  </div>
</nav>
