<nav class="navbar fixed-bottom navbar-light bg-white d-block d-lg-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="/post"><i class="fas fa-house-user"></i></a>
    <a class="navbar-brand" href="/class"><i class="fas fa-users"></i></a>
    <a class="navbar-brand" href="/group"><i class="fas fa-users"></i></a>
    <a class="navbar-brand" href="/quiz"><i class="fas fa-book-open me-2"></i></a>
    <a class="navbar-brand" href="/chat"><i class="fas fa-comment me-2"></i></a>
  
  </div>
</nav>
