<div class="col-0 col-lg-2 d-none d-lg-block side-nav text-white rounded h-100">
  <div class="profile mt-3 mb-5 text-center">
    <img
      src="/images/profile-picture.jpg"
      class="img-fluid"
      width="80"
      alt=""
    />
    <h5 class="mt-3">Hello <%= currentUser.givenName %></h5>
    <a href="/profile" class="link-light">View Profile</a>
  </div>
  <div class="d-grid gap-2 mb-5">
    <a href="/post" class="btn btn-primary fw-bold text-start"
      ><i class="fas fa-house-user me-2"></i>DASHBOARD</a
    >
    <a href="/class" class="btn btn-primary fw-bold text-start"
      ><i class="fas fa-users me-2"></i>MY CLASS</a
    >
    <a href="/group" class="btn btn-primary fw-bold text-start"
      ><i class="fas fa-users me-2"></i>MY GROUP</a
    >
  </div>
</div>
