<% layout('layouts/boilerplate') %>
    
<section id="introduction" class="main-background">
    <div class="container">
    <div class="row d-flex align-items-center">
        <div class="col col-xl-4 text-center text-xl-start">
        <h2 class="fw-bold fs-1">E-Learning is A Better Way Of Learning</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            vitae quod, ipsum quos nihil modi possimus quis excepturi ad
            deserunt consequatur quae saepe nam ipsam facere! Ullam error
            consequatur sed?
        </p>
        <button class="btn transparent border me-md-3">Learn More</button>
        <button class="btn transparent border">Explore Courses</button>
        </div>
    </div>
    </div>
</section>

<section id="introduction-content">
    <div class="container">
    <div class="row my-5 d-flex  align-items-center text-center text-md-start">
        <div class="col-lg-7">
        <h3 class="fw-bold fs-2">WELCOME TO ICCT COLLEGES</h3>
        <h4 class="fw-bold fs-3">A Global Pinoy Distinction</h5>
        <p class="lead text-muted">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
            magnam ipsam dicta doloribus quasi. Temporibus fuga quibusdam
            accusantium unde, sit nostrum doloribus placeat at, beatae
            sapiente, deleniti ipsam tempora corporis! Ex, voluptatum. Tempora
            sed deleniti doloremque, dolor molestias ab qui fugiat voluptate
            soluta harum alias deserunt nobis ut corporis recusandae fugit
            iure architecto similique animi ipsam a delectus. Nobis,
            voluptatum? Voluptates sint ipsum architecto officia laboriosam
            aperiam asperiores dolor nesciunt, magni temporibus dignissimos
            minus cupiditate vero dicta nostrum minima magnam quos quasi
            inventore quisquam eveniet dolores iusto. Laborum, hic recusandae.
        </p>
        </div>
        <div class="col-lg-5">
        <img
            src="/images/image-content.jpg"
            class="img-fluid image-content first-image ms-md-5"
            alt=""
        />
        </div>
    </div>

    <div class="row my-5 d-flex flex-row-reverse  align-items-center text-center text-md-start">
        <div class="col-lg-7">
        <p class="lead text-muted">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
            magnam ipsam dicta doloribus quasi. Temporibus fuga quibusdam
            accusantium unde, sit nostrum doloribus placeat at, beatae
            sapiente, deleniti ipsam tempora corporis! Ex, voluptatum. Tempora
            sed deleniti doloremque, dolor molestias ab qui fugiat voluptate
            soluta harum alias deserunt nobis ut corporis recusandae fugit
            iure architecto similique animi ipsam a delectus. Nobis,
            voluptatum? Voluptates sint ipsum architecto officia laboriosam
            aperiam asperiores dolor nesciunt, magni temporibus dignissimos
            minus cupiditate vero dicta nostrum minima magnam quos quasi
            inventore quisquam eveniet dolores iusto. Laborum, hic recusandae.
        </p>
        </div>
        <div class="col-lg-5">
        <img
            src="/images/image-content.jpg"
            class="img-fluid image-content second-image ms-md-5"
            alt=""
        />
        </div>
    </div>
    </div>
</section>


<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container d-flex justify-content-center">
      <ul class="list-unstyled text-center text-lg-start">
        <li>
          <h1 class="fw-bold">ICCT COLLEGES</h1>
            <a>Institute of Creative Computer Technology, or better known as the ICCT Colleges,<br>
               was established in 1994 to provide computer technology subjects 
               to the people of Rizal.</a>  
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-auto">
        <li >
          <a class="nav-link btn btn-outline-light" href="#"
              >CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav>
  <section id="updates">
    <div class="container">
      <br>
        <h1 class="text-center mt-5 fw-bold">LATEST NEWS AND UPDATES</h1>
        <div class="row mt-5">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                    <div class="headline">
                        <a
                            class="d-flex flex-column flex-md-row justify-content-center align-items-center w-100"
                            href="#"
                        >
                            <div class="fs-6 fw-bold ms-1">18 <br> JULY</div>
                            <div class="ms-3 border-start border-danger">
                            <div class="fs-5 fw-bold ms-1"><h3>2019 ICCT 29th Anniversary Marikina Sports Complex</h3></div>
                            </div>
                          </a>
                        
                        <div class="details text-center text-md-end">
                            <p> On July 20 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit atque cumque cum ipsam rem aspernatur, eum dolor nisi blanditiis laboriosam ullam voluptate tempore a voluptas earum delectus quasi repellendus! Illo eos ad consequuntur magni reiciendis aspernatur veritatis fugiat sapiente nisi.</p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                    <div class="headline">
                        <a
                            class="d-flex flex-column flex-md-row  justify-content-center align-items-center w-100 "
                            href="#"
                        >
                            <div class="fs-6 fw-bold ms-1">15 <br> JAN</div>
                            <div class="ms-3 border-start border-danger">
                            <div class="fs-5 fw-bold ms-1"><h3>2019 ICCT 29th Anniversary Marikina Sports Complex</h3></div>
                            </div>
                        </a>
                        <div class="details text-center text-md-end">
                          <p> On July 20 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit atque cumque cum ipsam rem aspernatur, eum dolor nisi blanditiis laboriosam ullam voluptate tempore a voluptas earum delectus quasi repellendus! Illo eos ad consequuntur magni reiciendis aspernatur veritatis fugiat sapiente nisi.</p>
                          <a href="#">read more</a>
                        </div>
                    </div>
                    <div class="headline">
                        <a
                            class="d-flex flex-column flex-md-row  justify-content-center align-items-center w-100 "
                            href="#"
                        >
                            <div class="fs-6 fw-bold ms-1">08 <br> AUG</div>
                            <div class="ms-3 border-start border-danger">
                            <div class="fs-5 fw-bold ms-1"><h3>2019 ICCT 29th Anniversary Marikina Sports Complex</h3></div>
                            </div>
                        </a>
                        <div class="details text-center text-md-end">
                          <p> On July 20 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit atque cumque cum ipsam rem aspernatur, eum dolor nisi blanditiis laboriosam ullam voluptate tempore a voluptas earum delectus quasi repellendus! Illo eos ad consequuntur magni reiciendis aspernatur veritatis fugiat sapiente nisi.</p>
                          <a href="#">read more</a>
                        </div>
                    </div>
                    <div class="headline">
                        <a
                            class="d-flex flex-column flex-md-row  justify-content-center align-items-center w-100 "
                            href="#"
                        >
                            <div class="fs-6 fw-bold ms-1">29 <br> AUG</div>
                            <div class="ms-3 border-start border-danger">
                            <div class="fs-5 fw-bold ms-1"><h3>2019 ICCT 29th Anniversary Marikina Sports Complex</h3></div>
                            </div>
                        </a>
                        <div class="details text-center text-md-end">
                          <p> On July 20 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit atque cumque cum ipsam rem aspernatur, eum dolor nisi blanditiis laboriosam ullam voluptate tempore a voluptas earum delectus quasi repellendus! Illo eos ad consequuntur magni reiciendis aspernatur veritatis fugiat sapiente nisi.</p>
                          <a href="#">read more</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary my-5" data-toggle="button" aria-pressed="false" autocomplete="off">
                      READ ALL NEWS
                    </button>
            </div>
            <div class="col-lg-6 d-flex flex-column  align-items-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/images/main.jpg" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                              <h6>ICCT Colleges Inc. is now celebrating it's 29th anniversary</h6>
                              <p class="text-muted">By: Dr. William S. Co</p>
                              <a class="link-danger">March 10 2022</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/images/main.jpg" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                                <h6>ICCT Colleges Inc. is now celebrating it's 29th anniversary</h6>
                                <p class="text-muted">By: Dr. William S. Co</p>
                                <a class="link-danger">March 10 2022</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/images/main.jpg" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                              <h6>ICCT Colleges Inc. is now celebrating it's 29th anniversary</h6>
                              <p class="text-muted">By: Dr. William S. Co</p>
                              <a class="link-danger">March 10 2022</a>
                            </div>
                        </div>
                    </div>
                  <a href="" class="d-flex justify-content-center mt-5 fs-5 text-dark">More Stories</a>
            </div>
        </div>
    </div>
</section>

<div class="container">
        <h1 class="fw-bold mt-5 text-center">WHY ICCT COLLEGES INC.?</h1>
        <table class="center my-5 d-flex justify-content-center">
          <tr>
          <th><img 
          src="/images/student.png" 
          class="student-img img-fluid"></th>
          <th><img
          src="/images/open-book.png"
          class="book-img img-fluid"></th>
          <th><img
          src="/images/school.jpg"
          class="school-img img-fluid"></th>
          </tr>
          <tr class="fw-bold text-center tab-content">
            <td>AFFORDABLE <br> TUITION FEE</td>
            <td>SCHOLARSHIP</td>
            <td>COMPLETE SCHOOL <br>FACILITIES</td>
          </tr>
        </table>
        <p class="text-center lead my-5">ICCT Colleges exists under the law of the Republic of the Philippines <br>
          and offers courses that are accredited by Commission on Higher Education (CHED), Technical Education and Skills Development <br>
          Authority (TESDA), Department of Education (DEPED) and as well as Industry Accredited Certificates.</p>
</div>
<section id="campus-content">
      <h1 class="fw-bold my-5 pt-5 text-center">CAMPUS</h1>

      <div class="">
      <div class="campuses overflow-hidden">
            <div class="card">
              <img 
              src="/images/main.jpg"
              class="campus-img">
                <h3>Cainta (MAIN) Campus</h3>
                <p>V. V. Soliven Avenue II, Bgy. San Isidro
                  Cainta, Rizal (across Sta. Lucia East Grand Mall)</p>
                <ul class="list-unstyled">
                  <li>Tel.#:</li>
                  <li>(02)7.955.6284</li>
                  <li>(02)8.249.2367</li>
                </ul>
                <ul class="list-unstyled">
                  <li>Mobile #:</li>
                  <li>0947.895.4228</li>
                  <li>0932.872.4228</li>
                </ul>
              </div>

          <div class="card">
            <img 
            src="/images/antipolo.png"
            class="campus-img">
              <h3>Antipolo Campus</h3>
              <p>ICCT Colleges Building, Sumulong Extension Street, Baranggay. San Roque, Antipolo City, Rizal</p>
              <ul class="list-unstyled">
                <li>Tel.#:</li>
                <li>(02)7.975.4229</li>
              </ul>
              <ul class="list-unstyled">
                <li>Mobile #:</li>
                <li>0917.176.4228</li>
              </ul>
            </div>
          <div class="card">
              <img 
              src="/images/binangonan.png"
              class="campus-img">
                <h3>Binangonan Campus</h3>
                <p>ICCT Bldg., National Rd., Bgy. Calumpang, Binangonan, Rizal</p>
                <ul class="list-unstyled">
                  <li>Tel.#:</li>
                  <li>(02)7.757.8939</li>
                </ul>
                <ul class="list-unstyled">
                  <li>Mobile #:</li>
                  <li>0908.398.6459</li>
                </ul>
          </div>
          <div class="card">
            <img 
            src="/images/cogeo.png"
            class="campus-img">
              <h3>Cogeo Campus</h3>
              <p>Foresthills Avenue cor. Aspen St., Eastland Heights,Bagong Nayon II, Antipolo City, Rizal</p>
              <ul class="list-unstyled">
                <li>Tel.#:</li>
                <li>(02)8.356.6305</li>
                <li>7.980.4228</li>
              </ul>
              <ul class="list-unstyled">
                <li>Mobile #:</li>
                <li>0917.193.4228</li>
              </ul>
          </div>
          <div class="card">
            <img 
            src="/images/sanmateo.png"
            class="campus-img">
              <h3>San Mateo Campus</h3>
              <p>ICCT Bldg., Gen. Luna Rd. cor. Ressurreccion St.,Bgy. Sta. Ana, San Mateo, Rizal</p>
              <ul class="list-unstyled">
                <li>Tel.#:</li>
                <li>(02)7.212.5701</li>
              </ul>
              <ul class="list-unstyled">
                <li>Mobile #:</li>
                <li>0917.183.4228</li>
                <li>0907.683.9263</li>
              </ul>
          </div>
          <div class="card">
            <img 
            src="/images/taytay.png"
            class="campus-img">
              <h3>Taytay Campus</h3>
              <p>Cabrera Rd. cor. Manila East Rd. Bgy. San Juan, Taytay, Rizal</p>
              <ul class="list-unstyled">
                <li>Tel.#:</li>
                <li>(02)7.978.4228</li>
              </ul>
              <ul class="list-unstyled">
                <li>Mobile #:</li>
                <li>0917.188.4228</li>
              </ul>
          </div>
          <div class="card">
            <img 
            src="/images/sumulong.png"
            class="campus-img">
              <h3>Sumulong (CAINTA ANNEX) Campus</h3>
              <p>ICCT Compound, Sumulong Hi-way, Bgy. San Isidro, Cainta, Rizal
                (Near Marquinton / Bluewave Mall – Marikina)</p>
              <ul class="list-unstyled">
                <li>Tel.#:</li>
                <li> (02)7.966.4228</li>
              </ul>
              <ul class="list-unstyled">
                <li>Mobile #:</li>
                <li> 0917.177.4228</li>
              </ul>
          </div>
      
        </div>
        <a class="d-flex justify-content-center pb-5 mt-3" href="#">SEE MORE >></a>
        </div>
</section>
<div class="footer-content">
  <div class="footer text-center text-lg-start">
    <ul class="p-0 px-2 d-flex justify-content-center align-items-center flex-column flex-lg-row">
      <li>
        <h1>GET IN TOUCH</h1>
        <p>Institute of Creative Computer Technology, or better known as the ICCT Colleges,<br>
          was established in 1994 to provide computer technology subjects 
          to the people of Rizal.</p>
        <img src="/images/main.jpg"
        class="footer-img img-fluid">
      </li>
      <li>
        <h1>MAIL US</h1>
        <div class="d-flex">
          <input type="text" class="form-control me-2" placeholder="Name">
          <input type="email" class="form-control" placeholder="Email"> 
        </div>
        
        <hr>
        <input type="text" class="form-control" placeholder="Subjects" ">
        <hr>
        <textarea class="form-control"   placeholder="Message"></textarea>
        <button type="button" class="btn btn-danger">Submit</button>
      </li>
    </ul>
    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;">
    <div class="row mx-5">
    <div class="col-lg-4">
      <div class="d-md-flex justify-content-center justify-content-lg-start">
          <div>
            <img src="/images/boxlogo.png" class="img-fluid me-md-3" width="65" alt="" />
          </div>
          <div class="text-center text-md-start">
            <h3 class="fw-bold "> ICCT </h3> 
            <h3> Colleges Inc.</h3>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. 
          Consequuntur molestias<br> maiores praesentium maxime adipisci <br>deserunt 
          laudantium non magnam? Ipsa <br>beatae ex architecto eius? Quibusdam <br> adipisci 
          repellendus, tempore voluptatem <br> distinctio possimus?</p>
    </div>
    <div class="col-lg-8">
      <div class="table-responsive">
      <table class="table">
       
          <tr class="fs-3">
            <th>Follow</th>
            <th>Help</th>
            <th>Join Community</th>
            <th>Contact Us</th>
          </tr>

          <tr>
            <td><a href="#">Facebook</a></th>
            <td><a href="#">Support</a></td>
            <td><a href="#">Discord</a></td>
            <td>(02)7.955.6284</td>
          </tr>
          <tr>
            <td><a href="#">Discord</a></th>
            <td><a href="#">FAQs</a></td>
            <td><a href="#">ICCT Community</a></td>
            <td>0927.895.4228</td>
          </tr>
          <tr>
            <td><a href="#">Twitter</a></th>
            <td><a href="#">Troubleshooting</a></td>
            <td><a href="#">Edmodo Community</a></td>
            <td>0932.872.4228</td>
          </tr>
          <tr>
            <td><a href="#">Messenger</a></th>
            <td><a href="#">Contact Us</a></td>
            <td><a href="#">Twiiter</a></td>
            <td>sample@gmail.com</td>
          </tr>
        
      </table>
    </div>
  </div>
  <ul class="text-center d-flex justify-content-around bottom-link">
    <li><a class="text-muted" href="" >Terms of Services </a></li>
    <li><a class="text-muted" href="" >Privacy Policy </a></li>
    <li><a class="text-muted" href="" >@ICCT Colleges Inc. </a></li>
  </ul>
</div>