* {
  box-sizing: border-box;
}
body {
  border-radius: 5px;
  background-color: #fff;
}

h1 {
  color: #f2f2f2;
  text-align: center;
  background-color: rgb(8, 19, 122);
  background-size: 200%;
  margin: 0;
}

.profile-container input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(167, 164, 164);
  border-radius: 4px;
  resize: vertical;
  position: relative;
}

label {
  padding: 12px 12px 12px 0;
  position: relative;
}

.editBtn {
  background-color: #04aa6d;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.editBtn:hover {
  background-color: #45a049;
}

.profile-container {
  margin: 2%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.profile-col-25 {
  margin-top: 6px;
  width: 20%;
}

.profile-col-75 {
  margin-top: 6px;
  width: 80%;
}

select:invalid {
  color: gray;
}

option {
  color: black;
}

/* Clear floats after the columns */
.profile-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .profile-col-25,
  .profile-col-75,
  .editBtn {
    width: 100%;
    margin-top: 1;
  }
}

.profile-badge {
  border: 1px solid #c1c1c1;
  padding: 5px;
  position: relative;
}

.profile-pic {
  position: absolute;
  height: 120px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  z-index: 1001;
  padding: 10px;
}
.profile-pic img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #c1c1c1;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #041562;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: center;
  color: rgb(243, 236, 236);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 30px;
  font-weight: bold;
}
