* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tw Cen Mt", "Giuconda Regular";
}

.contact-details {
  background-color: #11468f;
  color: white;
}

nav {
  background-color: #041562;
  color: white;
}

nav .nav-link {
  margin: 0 10px;
}
.btn {
  color: white !important;
  border-radius: 15px;
}
.btn-primary {
  background-color: #051661;
}
.btn-secondary {
  background-color: transparent;
}
.btn:hover {
  background-color: #11468f;
  color: white;
}

.list-group-item {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
}

.main-background {
  background: linear-gradient(
      rgba(0, 0, 0, 0.502) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
}

#introduction .row {
  height: 90vh;
}

#introduction-content {
  line-height: 30px;
}
#introduction-content h3,
h4 {
  letter-spacing: 3px;
}

.image-content {
  width: 80%;
  height: 100%;
}

.first-image {
  box-shadow: 17px 27px 5px 0px rgba(17, 70, 143, 0.75);
  -webkit-box-shadow: 17px 27px 5px 0px rgba(17, 70, 143, 0.75);
  -moz-box-shadow: 17px 27px 5px 0px rgba(17, 70, 143, 0.75);
}

.second-image {
  box-shadow: -17px 27px 5px 0px rgba(17, 70, 143, 0.75);
  -webkit-box-shadow: -17px 27px 5px 0px rgba(17, 70, 143, 0.75);
  -moz-box-shadow: -17px 27px 5px 0px rgba(17, 70, 143, 0.75);
}
