<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="stylesheets/authentication.css" />

<div
  class="container-fluid main-background d-flex justify-content-center align-items-center"
>
  <div class="container h-75 w-60 shadow-lg">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 container-info d-none d-md-flex justify-content-center align-items-center gx-5"
        >
          <div>
            <h3 class="fs-1 fw-bold">Sign in</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              facilis quis error
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              facilis quis error
            </p>
            <p class="footer-info">Privacy Policy and Terms of Condition</p>
          </div>
        </div>
        <div class="col-md-6 container-form gx-5">
          <h3 class="fs-2 fw-bold my-5">Login Your Account</h3>
          <form action="/login" method="POST" class="validate" novalidate>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Usernmae"
                required
              />
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
              <label for="password">Passowrd</label>
              <p class="text-muted text-end">Forgot Password?</p>
            </div>
            <div class="text-center">
              <button class="btn btn-primary w-50">Sign In</button>
              <p class="text-muted mt-4">Or Login With</p>
              <i class="fab fa-google fa-2x"></i>
              <i class="fab fa-facebook-f fa-2x mx-3"></i>
              <i class="fab fa-instagram-square fa-2x"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
