<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="stylesheets/authentication.css" />

<div
  class="container-fluid main-background d-flex justify-content-center align-items-center"
>
  <div class="container h-75 w-60 shadow-lg">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 container-info d-none d-md-flex justify-content-center align-items-center gx-5"
        >
          <div>
            <h3 class="fs-1 fw-bold">Sign Up</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              facilis quis error
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              facilis quis error
            </p>
            <p class="footer-info">Privacy Policy and Terms of Condition</p>
          </div>
        </div>
        <div class="col-md-6 container-form gx-5 d-flex align-items-center">
          <form
            action="/register"
            method="POST"
            class="validate w-100"
            novalidate
          >
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
                required
              />
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Usernmae"
                required
              />
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
              <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="repeat-password"
                placeholder="Repeat Password"
                required
              />
              <label for="repeat-password">Repeat Password</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="terms&Conditions"
                required
              />
              <label class="form-check-label mb-3" for="terms&Conditions">
                I agree to the Terms & Conditions
              </label>
            </div>
            <div class="d-flex justify-content-around">
              <button class="btn btn-primary w-35">Sign Up</button>
              <a href="/login" class="btn btn-secondary w-35">Sign in</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
